.hero_holder {
  height: 100%;
  position: relative;
  background: url(../i/inner_hero.jpg) no-repeat 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.hero_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
  color: #fff;
}

.gl_table_cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.any_questions {
  font: 28px $BebasNeueLight;
  margin-bottom: 20px;
  letter-spacing: 7px;
}

.why_rockstars {
  font: 57px $AvenirNextCyr-UltraLight;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.hero_text_block {
  margin: 0 auto;
  font: 20px/24px $AvenirNextCyrLight;

  p {
    margin-top: 12px;
  }

  @include respond-to-min($resp_1) {
    max-width: 890px;

    p {
      margin-top: 25px;
    }
  }
}

.garland_lamp {
  @extend %hor_centr;
  position: absolute;
  top: 20%;

  img {
    display: block;
    position: relative;
  }
}

.benefit_list {
  margin-bottom: 90px;

  li {
    display: block;
    padding: 72px 0;
    border-top: 1px solid #d9d9d9;

    &:first-child {
      border-top: none;
    }
  }
}

.benefit_unit {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 240px;
  min-height: 200px;
  position: relative;
  font: 18px $AvenirNextCyrRegular;
  color: #818181;

  p {
    margin-top: 20px;
  }
}

.benefit_img {
  position: absolute;
  top: 0;
  left: 0;

  img {
    display: block;
  }
}

.benefit_caption {
  color: #a98c5a;
  font: 35px $BebasNeueRegular;
}

.condition_block {
  min-height: 120px;
  position: relative;
  border-top: 1px solid #d9d9d9;

  p {
    color: #818181;
    font: 17px $AvenirNextCyrRegular;
    margin-bottom: 21px;
  }

  b {
    font-family: $AvenirNextCyrMedium;
  }

  .condition_list & {
    padding: 25px 145px;
  }

}

.condition_caption {
  color: #a98c5a;
  font: 35px $BebasNeueRegular;
  margin: 63px 0 18px;
}

.condition_index {
  position: absolute;
  left: -3px;
  top: 25px;
  font: 80px/1 $AvenirNextCyrBold;
  letter-spacing: -3px;

  .section_v4 & {
    color: #f1f1f1;
  }

  .section_v5 & {
    color: #fff;
  }
}

.condition_list {

  > li {

  }
}

.condition_title {
  font: 45px $AvenirNextCyrLight;
  color: #a98c5a;
  margin-bottom: 63px;
}

.additional_service_block {
  border: 1px solid #949494;
  text-align: center;
  margin: 75px 0 40px;
  padding: 0 75px 35px;
  color: #818181;
}

.additional_service_caption {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  color: #a98c5a;
  background: #fff;
  padding: 0 35px;
  font: 35px/1 $BebasNeueRegular;
  margin: -.5em 0 55px;
}

.additional_service_tips {
  margin: 0 auto 165px;
  max-width: 870px;
  color: #818181;
  font: 17px $AvenirNextCyrRegular;

  p {
    margin-bottom: 20px;

    &.mod_1 {
      margin-bottom: 40px;
    }
  }
}

.additional_tip_caption {
  margin-bottom: 10px;
  font-family: $AvenirNextCyrBold;
}


