@font-face {
  font-family: 'AvenirNextCyr-UltraLight';
  src:  url('../fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
        url('../fonts/AvenirNextCyr-UltraLight.ttf') format('truetype'),
        url('../fonts/AvenirNextCyr-UltraLight.svg#AvenirNextCyr-UltraLight') format('svg');
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Light.woff') format('woff'),
  url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
  url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
}

@font-face {
  font-family: 'Avenir-Next-Cyr-Bold';
  src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype'),
  url('../fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
}

@font-face {
  font-family: 'Avenir-Next-Cyr-Medium';
  src: url('../fonts/Avenir-Next-Cyr-Medium.woff2') format('woff2'),
  url('../fonts/Avenir-Next-Cyr-Medium.woff') format('woff'),
  url('../fonts/Avenir-Next-Cyr-Medium.ttf') format('truetype'),
  url('../fonts/Avenir-Next-Cyr-Medium.svg#Avenir-Next-Cyr-Medium') format('svg');
}

@font-face {
  font-family: 'Avenir-Next-Cyr-Regular';
  src: url('../fonts/Avenir-Next-Cyr-Regular.woff2') format('woff2'),
  url('../fonts/Avenir-Next-Cyr-Regular.woff') format('woff'),
  url('../fonts/Avenir-Next-Cyr-Regular.ttf') format('truetype'),
  url('../fonts/Avenir-Next-Cyr-Regular.svg#Avenir-Next-Cyr-Regular') format('svg');
}

@font-face {
  font-family: 'Avenir-Next-Cyr-Light';
  src: url('../fonts/Avenir-Next-Cyr-Light.woff2') format('woff2'),
  url('../fonts/Avenir-Next-Cyr-Light.woff') format('woff'),
  url('../fonts/Avenir-Next-Cyr-Light.ttf') format('truetype'),
  url('../fonts/Avenir-Next-Cyr-Light.svg#Avenir-Next-Cyr-Light') format('svg');
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
  url('../fonts/BebasNeueRegular.woff') format('woff'),
  url('../fonts/BebasNeueRegular.ttf') format('truetype'),
  url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../fonts/BebasNeueLight.woff2') format('woff2'),
  url('../fonts/BebasNeueLight.woff') format('woff'),
  url('../fonts/BebasNeueLight.ttf') format('truetype'),
  url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src:  url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Light.svg#BebasNeueLight') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}

@font-face {
  font-family: 'girland_icons';
  src: url('../fonts/girland_icons.woff') format('woff'),
  url('../fonts/girland_icons.ttf') format('truetype'),
  url('../fonts/girland_icons.svg#girland_icons') format('svg');
}
