include mixins
doctype html
html(lang='ru')
    +dev_head('Girland преимущества')
    body.h_100p
        .wrapper
            +header()

            .hero_holder
                //-.garland_lamp(
                    data-stellar-offset-parent="true"
                    data-stellar-ratio="2"
                    )
                    img(src='i/big_lamp.png')
                .hero_inner.text_center
                    .gl_table
                        .gl_table_cell: .section_inner
                            .any_questions остались вопросы?
                                
                            .why_rockstars ПОЧЕМУ МЫ САМЫЕ КРУТЫЕ
                                
                            .hero_text_block
                                p Конечно мы не изобрели гирлянды с лампочками, но совершенно точно производить и сдавать в аренду начали первыми. Поэтому, опираясь на свой опыт, и протестировав гирлянды конкурентов, — можем подсказать на что обратить внимание, чтобы...
                                
                                p А, да ладно! По правде, так: Чуваки посмотрели как мы морочимся, упростили технологию производства, выкинув этапы, которые на их взгляд лишние и понадеялись, что это не отразится на надежности.
                                
                                p Так что мы хотя бы предупредим вас, дальше сами примете решение.

            .base
                    
                div.main_content
                    .section_w.section_v3
                        .section_inner
                            ul.benefit_list
                                li
                                    .benefit_unit
                                        .benefit_img
                                            img(src='i/lamp_dist.svg')
                                            .garland_text
                                                | 30 
                                                span.fz_24 см
                                            
                                        .benefit_caption расстояние между лампочками
                                        p Конечно можно ставить лампочки и реже, но когда они стоят   с л и ш к о м д а л е к о,  это бросается в глаза.  Мы ставим патроны через каждые 30 сантиметров, потому, что так красивее.  <br> В итоге на наших гирляндах лампочек в 2 раза больше. Вы же для красоты берете гирлянды, не так ли?
                                            
                                li
                                    .benefit_unit
                                        .benefit_img
                                            img(src='i/lamp_power.svg')
                                            .garland_text
                                                | 10 
                                                span.fz_24 Вт
                                                | &nbsp; &nbsp; &nbsp; 25 
                                                span.fz_24 Вт 
                                            
                                        .benefit_caption Яркость
                                        p 25 или 10 Ватт. Никаких диммеров для регулировки яркости люстр. Да, лампочки на 10 Ватт очень тяжело найти и они стоят в 5 раз дороже ламп мощностью 40 Вт. 

                                        p Но гирлянда может эксплуатироваться долго: и через 5, и через 10 лет все должно работать. А если вы захотите вкрутить 40 или 100 ваттные лампочки, — гирлянда должна выдержать и это. На наш взгляд так.
                                            
                                li
                                    .benefit_unit
                                        .benefit_img(style='padding-top: 50px;')
                                            img(src='i/reliability.svg')
                                            
                                        .benefit_caption Насколько все надежно
                                        p Есть два места, где гирлянда может порваться: 
                                        i Патрон. 
                                        | Внутри каждого патрона мы делаем дополнительный узел, поэтому и прочность контактов никогда не ослабнет. Без этого узла винты в патроне надо обязательно подтягивать, иначе контакт однажды станет таким слабым, что перегреется. Это даже не к замыканию приведет, а вообще к пожару.

                                        p 
                                        i Кабель. 
                                        | Мы тестировали наши провода и гирлянда может выдержать гирю весом в 10 кг. Для дополнительной прочности мы вплетаем в гирлянду нейлоновый тросс.
                                                                                        
                                li
                                    .benefit_unit
                                        .benefit_img 
                                            img(src='i/umbrella.svg')
                                            
                                        .benefit_caption Можно ли использовать под дождем
                                        p Мы потратили почти год на то, чтобы сделать влагозащищенные гирлянды. Но если все соблюсти, то они становятся очень тяжелыми и очень дорогими, поэтому пока обходимся промышленными решениями.  <br> Короткий дождик не навредит нашим гирляндам, но если дожди будут затяжными, — лучше использовать специальные, влагозащищенные. Они тоже у нас есть и вы их можете арендовать.  <br> Влагозащищенные гирлянды делаем не мы, называются они “белтлайт”, тут секретов нет. 

                                li
                                    .benefit_unit
                                        .benefit_img 
                                            img(src='i/carbine.svg')
                                            
                                        .benefit_caption Как крепить
                                        p Внутри каждой гирлянды вплетен нейлоновый тросс, который обеспечивает дополнительную прочность. На каждом конце тросса есть удобные карабины, которыми вы можете зацепиться за дерево, столб или за другую гирлянду.

                                        p В общем, мы все продумали, чтобы было удобно и безопасно.

                            .text_center
                                a.btn_v3.order_btn.gold_btn_white(href='#') оформить заказ

            .footer_holder.footer_v2
                .footer
                    .section_inner
                        .footer_table
                            .footer_t_cell
                                p.text_upper HAPPY STATION <br> в соцсетях:
                                ul.footer_share
                                    li: a.sh_link.sh_fb(href='#')
                                    li: a.sh_link.sh_in(href='#')
                                    li: a.sh_link.sh_vk(href='#')
                            .footer_t_cell
                                p: a.footer_logo(href='#'): span.text_upper Перейти в магазин <br> Happy Station
                                
                            .footer_t_cell
                                p.text_upper нужна помощь?
                                .callback_text Звоните: +1-855-773-6736 <br> или пишите 
                                    a.callback_link(href='mailto:arenda@happystation.ru') arenda@happystation.ru
                                    