include mixins
doctype html
html(lang='ru')
    +dev_head('Girland условия')
    body.h_100p
        .wrapper
            .slider_holder
                .hero_holder
                    .garland_lamp(
                    data-stellar-offset-parent="true"
                    data-stellar-ratio="2"
                    )
                        img(src='i/big_lamp.png')
                    .hero_inner.text_center
                        .gl_table
                            .gl_table_cell: .section_inner
                                .any_questions аренда

                                .why_rockstars условия аренды гирлянд

                a.btn_v3.order_now_btn.white_btn(href='#') скачать договор (pdf)
            .base
                div.header: .section_inner
                    ul.main_menu
                        li.menu_item
                            a.menu_link(href='#')
                                span.link_text расчитать стоимость
                        li.menu_item
                            a.menu_link(href='#')
                                span.link_text условия аренды
                        li.menu_item.logo_holder
                            a.logo(href='index.html')
                        li.menu_item
                            a.menu_link(href='#')
                                span.link_text остались вопросы?
                        li.menu_item
                            a.menu_link(href='#')
                                span.link_text звоните: 8 495 135 75 31
                    
                div.main_content
                    ul.condition_list
                        li.section_w.section_v4
                            .section_inner
                                .condition_block
                                    .condition_index 01
                                    .condition_title ПРЕДМЕТ ДОГОВОРА
                                    .condition_caption 1.1.
                                    
                                    p Арендодатель сдает арендатору сроком на 5 дней в аренду согласно приложению к настоящему договору (приемо-передаточный акт) имущество для использования арендатором в целях осуществления своих уставных задач.
                        
                        li.section_w.section_v5
                            .section_inner
                                .condition_block
                                    .condition_index 02
                                    .condition_title ОБЯЗАННОСТИ СТОРОН
                                    .condition_caption 2.1. АРЕНДАТОР ОБЯЗУЕТСЯ
                                        
                                    p 
                                        b А/ 
                                        | Использовать аредуемое имущество по прямому назначению, указанному в п.1 договора;

                                    p 
                                        b Б/
                                        | Содержать арендуемое имущество в полной исправности и рабочем состоянии до возврата арендодателю;
                                                                            
                                    p 
                                        b В/ 
                                        | Своевременно производить за свой счет ремонт арендуемого имущества в случае его поломки или оплачивать ремонт силами арендодателя;

                                    p 
                                        b Г/ 
                                        | Вернуть имущество в том виде, в котором оно было получено. Если к имуществу прилагались дополнительные детали (лампочки, запасные детали, съемные части в отдельной упаковки, упаковка), они должны быть возвращены упакованными и не поврежденными;
                                    
                                    p 
                                        b Д/ 
                                        | В случае, если дополнительные детали были повреждены или возвращены не упакованными, арендодатель имеет право потребовать за них оплату в размере стоимости, указанной в листе дополнительных услуг (приложение к настоящему договору).
                                    
                                    .condition_caption 2.2/ Арендодатель обязуется

                                    p
                                        b А/ 
                                        | После подписания сторонами договора в указанный арендатором срок предоставить соответствующее имущество в исправном состоянии по приемо- передаточному акту (приложение к настоящему договору);
                                    
                                    p
                                        b Б/
                                        | Провести инструктаж по эксплуатации и правилам возврата сдаваемого оборудования;

                                    p
                                        b В/ 
                                        | Обеспечить возможность возврата арендуемого имущества арендатором.
                        li.section_w.section_v4
                            .section_inner
                                .condition_block
                                    .condition_index 03
                                    .condition_title ПЛАТЕЖИ И РАСЧЕТЫ ПО ДОГОВОРУ
                                    .condition_caption 3.1.

                                    p За аренду указанного в п.1 настоящего договора имущества арендатор перечисляет арендодателю плату в размере _______________ рублей и залоговую стоимость имущества таким образом, что в сумме стоимость аренды и залог составляют 100% стоимости имущества. Начисление и выплата причитающихся арендодателю сумм производится в течение 3 дней с момента подписания договора;
                                    
                                    .condition_caption 3.2.
                                        
                                    p При неуплате арендатором в оговоренные сроки арендной платы, арендодатель вправе выставить счет-платежное требование со ссылкой на номер и дату договора или взыскать с арендатора задолженность.
                                    
                        li.section_w.section_v5
                            .section_inner
                                .condition_block
                                    .condition_index 04
                                    .condition_title ПРОЧЕЕ
                                        
                                    .condition_caption 4.1. 

                                    p Во всех остальных случаях, не предусмотренных настоящим договором, стороны руководствуются действующим гражданским законодательством;

                                    .condition_caption 4.2.

                                    p Настоящий договор составлен в двух подлинных экземплярах, которые имеют одинаковую юридическую силу.
                                    
                                    .condition_caption 4.3.

                                    p Приложения к договору, без которого он недействителен: приемо-передаточный акт и лист дополнительных услуг
                                    
                    .section_w.section_v6
                        .section_inner: .condition_block
                            h2.section_caption.bordered ДОПОЛНИТЕЛЬНЫЕ <br> УСЛУГИ
                            
                            .additional_service_block
                                .additional_service_caption друзья!
                                
                                p Заниматься ремонтом непросто и далеко не всегда приятно.

                                p Мы очень хотим, чтобы никому не пришлось ничего чинить и все остались довольны друг-другом, поэтому просим обращаться с нашими вещами так, как если бы они были вашими.

                                p Пожалуйста, следуйте условиям договора, относитесь к вещам бережно, или предупреждайте нас заранее, если собираетесь использовать гирлянды в суровых условиях, где они могут пострадать.

                                p Спасибо!
                                
                        //-.section_inner
                            .additional_service_tips
                                p.mod_1 В случае если недостатки арендуемого имущества явились следствием нарушения Арендатором правил эксплуатации, Арендатор обязуется компенсировать Арендодателю расходы на восстановление имущества в соответствии с нижеследующим прейскурантом:
                                
                                .additional_tip_caption ЛАМПЫ
                                    
                                P 1/ Разбитая или перегоревшая (неработающая) лампа —100 р/шт; <br> 2/ Лампы возвращены без упаковки или отдельно от нее (если выдавались в упаковке) — 100 р/шт;  <br> 3/ Разбитый (или расколотый) патрон — 200 р/шт;
                                                                
                                .additional_tip_caption ПРОВОДА
                                    
                                P 3/ Разорванный или поврежденный провод — 500 р;  <br> 4/ Оторванная или поврежденная вилка — 500 р;                                                                
                                .additional_tip_caption ВНЕШНИЙ ВИД
                                p 5/ Гирлянды сложены не в том виде, в котором были получены — 500 р./гирлянда;  <br>  6/ Гирлянда не работает/полностью потеряла товарный вид — полная стоимость гирлянды со скидкой в размере суммы аренды;  <br> 7/ Гирлянда в грязном состоянии (испачкана, покрыта пылью) в случае, если грязь отмывается — 500 р./гирлянда;  <br> 8/ Если не отмывается (окрашена краской) – полная стоимость гирлянды со скидкой суммы аренды.
                                          
                                .additional_tip_caption СРОКИ ВОЗВРАТА
                                p 9/ В случае возврата гирлянд спустя 5 дней с момента начала аренды, следующие 5 дней стоят столько же, сколько и первые.
                                
                                p.mod_1 Дополнительные услуги оказываются в обязательном порядке для возвращения внешнего вида, который имело арендуемое имущество в момент приемки-передачи. Материальные средства взимаются из залоговой стоимости по факту выявления недостатков при возвращении.
                                
                        .text_center
                            a.btn_v3.order_btn.gold_btn_white(href='#') оформить заказ

            .footer_holder.footer_v2
                .footer
                    .section_inner
                        .footer_table
                            .footer_t_cell
                                p.text_upper HAPPY STATION <br> в соцсетях:
                                ul.footer_share
                                    li: a.sh_link.sh_fb(href='#')
                                    li: a.sh_link.sh_in(href='#')
                                    li: a.sh_link.sh_vk(href='#')
                            .footer_t_cell
                                p: a.footer_logo(href='#'): span.text_upper Перейти в магазин <br> Happy Station
                                
                            .footer_t_cell
                                p.text_upper нужна помощь?
                                .callback_text Звоните: +1-855-773-6736 <br> или пишите 
                                    a.callback_link(href='mailto:arenda@happystation.ru') arenda@happystation.ru
                                    
